<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <p><img src="{{ site.baseurl }}/img/kde.png" width="50px" height="50px"> <ba>&nbsp;&nbsp;KDE</ba></p>
        <h4>Google Summer of Code Student &middot; Summer 2015</h4>
        <p>
            <bd>Rest-API Controller for Legacy Applications</bd>
        </p>
        <p>
            <ul>
                <li>
                    Designed and developed interfaces in Qt5 to install third party plugins, platform-independently across five KDE applications by querying for plugins using Appstream and then installing using PackageKit
                </li>
                <li>
                    Ported KDE applications and libraries like Network-Filesharing and language-plugins from KDELibs4 to KF5
                </li>
                <li>
                    Additionally fixed bugs where required, learnt software packaging and packaged PackageKit-Qt for launchpad
                </li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <p><img src="{{ site.baseurl }}/img/citi.png" width="50px" height="50px"> <ba>&nbsp;&nbsp;Citibank</ba></p>
        <h4>Software Development Intern &middot; Summer 2015</h4>
        <p>
            <bd>Rest-API Controller for Legacy Applications</bd>
        </p>
        <p>
            <ul>
                <li>
                    Initiated and lead a project to future-proof legacy custodian applications by building a REST API controller
                </li>
                <li>
                    Built on NodeJS and Express, the controller is modular, re-programmable and uses ORM to connect to databases
                </li>
                <li>
                    Developed a prototype application using AngularJS and Materialize to prove that the controller works
                </li>
                <li>
                    Received a Pre-Placement Offer (PPO) for exceptional performance over the internship
                </li>
            </ul>
        </p>
    </div>
</div>
