<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <p><img src="{{ site.baseurl }}/img/iitb.png" width="50px" height="50px"> <ba>&nbsp;&nbsp;IIT Bombay</ba></p>
        <h4>B.Tech. (Hons.) &middot; Computer Science and Engineering</h4>
        <p>
            <bd>Specialization: Computer Graphics</bd>
        </p>
        <p>
            <strong style="font-size:18px;">Core Courses</strong>
            <br>
            <strong>Visual Computing:</strong> Computer Graphics, Digital Image Processing, Advanced Computer Graphics, Digital Geometry Processing, Computer Vision, Infographics and Data Visualisation, Human Computer Interaction, Technology and Animation, Basics of Visual Communication
            <br>
            <strong>Network and Network Security:</strong>  Computer Networks, Network Security, Principles of Data and Systems Security
            <br>
            <strong>Other Core Courses:</strong> Computer Programming and Utilization, Abstractions and Paradigms in Programming, Data Structures and Algorithms, Discrete Structures, Automata Theory and Logic, Logic Design, Design and Analysis of Algorithms, Software Systems Lab, Computer Networks, Computer Architecture, Databases, Artificial Intelligence, Computer Architecture, Operating Systems, Databases, Compilers, Embedded Systems, Introduction to Ergonomics
            <strong style="font-size:18px;">Non-Core Courses</strong>
            <br>
            Calculus, Linear Algebra, Data Analysis and Interpretation, Modern Physics and Chemistry, Engineering Graphics and Drawing, Differential Equations, Economics, Environmental Studies, Indian Culture and Tradition, Numerical Analysis
        </p>
    </div>
</div>
