<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Key Academic Projects</h2>
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Image Quilting for Texture Synthesis and Transfer</h4>
        <p>
            <bd>MATLAB &middot; Prof. Suyash Awate &amp; Prof. Ajit Rajwade</bd>
        </p>
        <p>
            <ul>
                <li>Implemented a pioneering algorithm by Efros and Freeman for generating textures by stitching together small image patches </li>
                <li>Enhanced the algorithm to render an image with a texture taken from a different image</li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Lightcuts</h4>
        <p>
            <bd>C++ | PBRT &middot; Prof. Parag Chaudhuri</bd>
        </p>
        <p>
            <ul>
                <li>
                    Implemented a scalable framework for computing realistic illumination based on the research paper ‘Lightcuts’ [SIGGRAPH 2005]
                </li>
                <li>
                    Significantly lowered the rendering time for several (>1000) uniformly distributed point light sources
                </li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Rendering with Photorealistic Renderman</h4>
        <p>
            <bd>Renderman &middot; Prof. Parag Chaudhuri</bd>
        </p>
        <p>
            <ul>
                <li>
                    Wrote shaders and rendered raytraced scenes using Pixar’s rendering software PRMan
                </li>
                <li>
                    The resultant scene elements produced effects like color bleeding, caustics, area lights and soft shadows
                </li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Incremental Development of a Compiler</h4>
        <p>
            <bd>C++ | FlexC++ | BisonC++ &middot; Prof. Amitabha Sanyal</bd>
        </p>
        <p>
            <ul>
                <li>
                    Implemented a compiler for a subset of the C language using tools like FlexC++ and BisonC++
                </li>
                <li>
                    Sethi-Ullman Algorithm was used to create a syntax tree and optimization was done for control statements
                </li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Transformer Rendering and Animation</h4>
        <p>
            <bd>C++ | OpenGL &middot; Prof. Parag Chaudhuri</bd>
        </p>
        <p>
            <ul>
                <li>
                    Modeled, textured and animated (via forward kinematics) a transformer robot from scratch with OpenGL
                </li>
                <li>
                    Developed an interactive environment for the keyboard controlled bot with inter-object collisions
                </li>
                <li>
                    Used motion captured data in the form of BVH inputs to animate the transformer (via reverse kinematics)
                </li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Movie Social Network</h4>
        <p>
            <bd>Java | HTML | Bootstrap &middot; Prof. N.L. Sarda</bd>
        </p>
        <p>
            <ul>
                <li>
                    Developed a social network for movie enthusiasts similar to Goodreads using JSP, Java and PostgreSQL
                </li>
                <li>
                    Optimised database schema and minimised redundancy after normalisation and ER modelling
                </li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Threading and Scheduling Implementation in GeekOS</h4>
        <p>
            <bd>C | C++ &middot; Prof. D.M. Dhamdhare</bd>
        </p>
        <p>
            <ul>
                <li>
                    Modified the existing scheduler of an experimental OS by adding Multi Level and Round-Robin scheduling
                </li>
                <li>
                    Added support for kernel and user level threads and methods for deadlock handling
                </li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>2D Simulation of an Orrery</h4>
        <p>
            <bd>C++ | Box2D &middot; Prof. Parag Chaudhuri</bd>
        </p>
        <p>
            <ul>
                <li>
                    Simulated a mechanical model of Solar System using gears instead of gravity
                </li>
                <li>
                    Used Box2D, an open source physics engine for interaction between mechanical components
                </li>
            </ul>
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Chess with Artificial Intelligence</h4>
        <p>
            <bd>PLT-Scheme &middot; Prof. Amitabha Sanyal</bd>
        </p>
        <p>
            <ul>
                <li>
                    Developed a chess game in PLT Scheme using in-built GUI Toolkit in DrRacket
                </li>
                <li>
                    Implemented the Minimax Algorithm with Alpha-Beta Pruning for the AI with a tree depth of 3
                </li>
            </ul>
        </p>
    </div>
</div>
