<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Research Projects</h2>
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Tracking and Reconstruction of a Human Body</h4>
        <p>
            <bd>Undergraduate Dissertation &middot; Prof. Parag Chaudhuri</bd>
        </p>
        <p>
            We are designing a novel method to reconstruct human body using noisy point cloud data in real-time from a single Kinect. The method is currently being implemented in OpenFrameworks using OpenNI and NiTE. We'll be further investigating methods to render the reconstructed model in virtual reality, viewable on a head mounted display like Oculus.
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Traffic Infraction Detection through Mobile Devices</h4>
        <p>
            <bd>Research and Development Project &middot; Prof. Siddhartha Chaudhuri &amp; Prof. Bhaskaran Raman</bd>
        </p>
        <p>
            We are exploring ways to detect signal jumping and tailgating using a mobile phone mounted on the vehicle dashboard. Crowdsourced data and object detection techniques will be employed to get data from videos in near real-time.
        </p>
    </div>
</div>
