<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Seminars</h2>
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Bidirectional Lightcuts</h4>
        <p>
            <bd>Advanced Computer Graphics Seminar</bd>
        </p>
        <p>
            <strong>Abstract:</strong> If real-world scenes are to be modeled, we need a fast, noise free rendering algorithm that handles all kinds of materials like glossy materials, and phenomenon like subsurface scattering. General unbiased algorithms like Path Tracing produce a lot of noise whereas specialized noise free algorithms like Instant Radiosity are biased, meaning several important illumination features might be missing. The paper, an extension of a previous paper titled `Lightcuts', implemented by the same author extends support to a wider variety of materials and phenomenon, while maintaining scalability and low noise. It uses clever weighing strategies to lower the bias in VPL-based algorithms and demonstrates scalable, efficient, and low noise rendering of scenes with highly complex materials including gloss, BSSRDFs, and anisotropic volumetric models.
        </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Protecting Browser State from Web Privacy Attacks</h4>
        <p>
            <bd>Principles of Systems and Data Security Seminar</bd>
        </p>
        <p>
            <strong>Abstract:</strong> The web is a never-ending source of security and privacy problems. It is an inherently untrustworthy place, and yet users expect it to be safe, interactive and good looking. This often requires long-term state to be stored inside the browser client. Hiding state information from curious or malicious attackers is critical for privacy and security. The Same-Origin principle is a principle that prohibits websites from different domains from interacting with each other except in very limited ways. It is the failure to apply an appropriate adaptation of this principle to all persistent browser state that is the source of the most alarming web privacy leaks. Web-Content Caching and Visited Link Differentiation were discussed.
        </p>
    </div>
</div>
