---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            {% if post.date %}<p><bd>{{ post.date | date: "%b %-d, %Y" }}/bd></p>{% endif %}
            <h2> {{ page.title }} </h2>
            <hr>
            {{content}}
            <!--p><bt>TAGS: <a href="#">Wordpress</a> - <a href="#">Web Design</a></bt></p-->
            <hr>
            <p><a href="/blog/"># Back</a></p>
        </div>

    </div><!-- /row -->
</div> <!-- /container -->
